@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Animations */
  --animate-pulse-slow: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce-slow: bounce-slow 2s ease-in-out infinite;
  --animate-width-grow: width-grow 3s ease-in-out infinite;

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 0.1;
      transform: scale(1);
    }

    50% {
      opacity: 0.4;
      transform: scale(1.1);
    }
  }

  @keyframes bounce-slow {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes width-grow {
    0% {
      width: 0;
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    100% {
      width: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050B14;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}